#s-2f9d57d1-d254-4551-9b99-123505038770 #s-lock-screen {
  -ms-transform: rotate(0.0deg);
}
#s-2f9d57d1-d254-4551-9b99-123505038770 #s-Text_2 {
  -ms-transform: rotate(0.0deg);
}
#s-2f9d57d1-d254-4551-9b99-123505038770 #s-Text_1 {
  -ms-transform: rotate(0.0deg);
}
#s-2f9d57d1-d254-4551-9b99-123505038770 #s-Image_1 {
  -ms-transform: rotate(2.0deg);
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=97);
  filter: alpha(opacity=97);
}
#s-2f9d57d1-d254-4551-9b99-123505038770 #s-Rectangle_95 {
  -ms-transform: rotate(0.0deg);
}
#s-2f9d57d1-d254-4551-9b99-123505038770 #s-Rectangle_94 {
  -ms-transform: rotate(0.0deg);
}
#s-2f9d57d1-d254-4551-9b99-123505038770 #s-Ellipse_34 {
  -ms-transform: rotate(0.0deg);
}
#s-2f9d57d1-d254-4551-9b99-123505038770 #s-Ellipse_35 {
  -ms-transform: rotate(0.0deg);
}
#s-2f9d57d1-d254-4551-9b99-123505038770 #s-play {
  -ms-transform: rotate(0.0deg);
}
#s-2f9d57d1-d254-4551-9b99-123505038770 #s-Image_103 {
  -ms-transform: rotate(0.0deg);
}
#s-2f9d57d1-d254-4551-9b99-123505038770 #s-Image_104 {
  -ms-transform: rotate(0.0deg);
}
#s-2f9d57d1-d254-4551-9b99-123505038770 #s-Image_105 {
  -ms-transform: rotate(0.0deg);
}
#s-2f9d57d1-d254-4551-9b99-123505038770 #s-Image_102 {
  -ms-transform: rotate(0.0deg);
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-2f9d57d1-d254-4551-9b99-123505038770 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}