#s-2f9d57d1-d254-4551-9b99-123505038770 #s-lock-screen {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2f9d57d1-d254-4551-9b99-123505038770 #s-Text_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2f9d57d1-d254-4551-9b99-123505038770 #s-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2f9d57d1-d254-4551-9b99-123505038770 #s-Image_1 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=97)  progid:DXImageTransform.Microsoft.Matrix(SizingMethod = 'auto expand',M11=0.9993908270190958,M12=-0.03489949670250097,M21=0.03489949670250097,M22=0.9993908270190958);
  filter: alpha(opacity=97)  progid:DXImageTransform.Microsoft.Matrix(SizingMethod = 'auto expand',M11=0.9993908270190958,M12=-0.03489949670250097,M21=0.03489949670250097,M22=0.9993908270190958);
  margin-left: -5px;
  margin-top: -6px;
}
#s-2f9d57d1-d254-4551-9b99-123505038770 #s-Rectangle_95 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2f9d57d1-d254-4551-9b99-123505038770 #s-Rectangle_94 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2f9d57d1-d254-4551-9b99-123505038770 #s-Ellipse_34 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2f9d57d1-d254-4551-9b99-123505038770 #s-Ellipse_35 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2f9d57d1-d254-4551-9b99-123505038770 #s-play {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2f9d57d1-d254-4551-9b99-123505038770 #s-Image_103 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2f9d57d1-d254-4551-9b99-123505038770 #s-Image_104 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2f9d57d1-d254-4551-9b99-123505038770 #s-Image_105 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2f9d57d1-d254-4551-9b99-123505038770 #s-Image_102 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-2f9d57d1-d254-4551-9b99-123505038770 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}