#s-3435434b-4903-4eb9-be12-2c451b1f7713 #s-Image_3 {
  -ms-transform: rotate(0.0deg);
}
#s-3435434b-4903-4eb9-be12-2c451b1f7713 #s-share {
  -ms-transform: rotate(0.0deg);
}
#s-3435434b-4903-4eb9-be12-2c451b1f7713 #s-edit {
  -ms-transform: rotate(0.0deg);
}
#s-3435434b-4903-4eb9-be12-2c451b1f7713 #s-Rectangle {
  -ms-transform: rotate(0.0deg);
}
#s-3435434b-4903-4eb9-be12-2c451b1f7713 #s-Image_5 {
  -ms-transform: rotate(0.0deg);
}
#s-3435434b-4903-4eb9-be12-2c451b1f7713 #s-Text_6 {
  -ms-transform: rotate(0.0deg);
}
#s-3435434b-4903-4eb9-be12-2c451b1f7713 #s-Rectangle_1 {
  -ms-transform: rotate(0.0deg);
}
#s-3435434b-4903-4eb9-be12-2c451b1f7713 #s-Image_1 {
  -ms-transform: rotate(0.0deg);
}
#s-3435434b-4903-4eb9-be12-2c451b1f7713 #s-Text_7 {
  -ms-transform: rotate(0.0deg);
}
#s-3435434b-4903-4eb9-be12-2c451b1f7713 #s-Rectangle_2 {
  -ms-transform: rotate(0.0deg);
}
#s-3435434b-4903-4eb9-be12-2c451b1f7713 #s-Image_125 {
  -ms-transform: rotate(0.0deg);
}
#s-3435434b-4903-4eb9-be12-2c451b1f7713 #s-Text_8 {
  -ms-transform: rotate(0.0deg);
}
#s-3435434b-4903-4eb9-be12-2c451b1f7713 #s-Rectangle_3 {
  -ms-transform: rotate(0.0deg);
}
#s-3435434b-4903-4eb9-be12-2c451b1f7713 #s-Image_4 {
  -ms-transform: rotate(0.0deg);
}
#s-3435434b-4903-4eb9-be12-2c451b1f7713 #s-Text_9 {
  -ms-transform: rotate(0.0deg);
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-3435434b-4903-4eb9-be12-2c451b1f7713 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}