#s-554bd711-4586-4865-a703-f819de43e5b1 #s-tag {
  -ms-transform: rotate(0.0deg);
}
#s-554bd711-4586-4865-a703-f819de43e5b1 #s-sticker {
  -ms-transform: rotate(0.0deg);
}
#s-554bd711-4586-4865-a703-f819de43e5b1 #s-filter {
  -ms-transform: rotate(0.0deg);
}
#s-554bd711-4586-4865-a703-f819de43e5b1 #s-edit {
  -ms-transform: rotate(0.0deg);
}
#s-554bd711-4586-4865-a703-f819de43e5b1 #s-Image_3 {
  -ms-transform: rotate(0.0deg);
}
#s-554bd711-4586-4865-a703-f819de43e5b1 #s-Panel_7 > .valign {
  vertical-align: top;
}
#s-554bd711-4586-4865-a703-f819de43e5b1 #s-Rectangle_12 {
  -ms-transform: rotate(0.0deg);
}
#s-554bd711-4586-4865-a703-f819de43e5b1 #s-Rectangle_3 {
  -pie-background: linear-gradient(to right,#FFFFFF,#EEEEEE);
  -pie-poll: false;
  -ms-transform: rotate(0.0deg);
}
#s-554bd711-4586-4865-a703-f819de43e5b1 #s-Rectangle_4 {
  -pie-background: linear-gradient(to right,#EEEEEE,#DDDDDD);
  -pie-poll: false;
  -ms-transform: rotate(0.0deg);
}
#s-554bd711-4586-4865-a703-f819de43e5b1 #s-Rectangle_5 {
  -pie-background: linear-gradient(to right,#DDDDDD,#BBBBBB);
  -pie-poll: false;
  -ms-transform: rotate(0.0deg);
}
#s-554bd711-4586-4865-a703-f819de43e5b1 #s-Rectangle_7 {
  -pie-background: linear-gradient(to right,#BBBBBB,#9C9B9B);
  -pie-poll: false;
  -ms-transform: rotate(0.0deg);
}
#s-554bd711-4586-4865-a703-f819de43e5b1 #s-Rectangle_8 {
  -ms-transform: rotate(0.0deg);
}
#s-554bd711-4586-4865-a703-f819de43e5b1 #s-Rectangle_13 {
  -ms-transform: rotate(0.0deg);
}
#s-554bd711-4586-4865-a703-f819de43e5b1 #s-Rectangle_6 {
  -pie-background: linear-gradient(to right,#FFC059,#F4760D);
  -pie-poll: false;
  -ms-transform: rotate(0.0deg);
}
#s-554bd711-4586-4865-a703-f819de43e5b1 #s-Rectangle_9 {
  -pie-background: linear-gradient(to right,#F4760D,#E8288A);
  -pie-poll: false;
  -ms-transform: rotate(0.0deg);
}
#s-554bd711-4586-4865-a703-f819de43e5b1 #s-Rectangle_10 {
  -pie-background: linear-gradient(to right,#E8288A,#FD0081);
  -pie-poll: false;
  -ms-transform: rotate(0.0deg);
}
#s-554bd711-4586-4865-a703-f819de43e5b1 #s-Rectangle_11 {
  -pie-background: linear-gradient(to right,#FD0081,#46383A);
  -pie-poll: false;
  -ms-transform: rotate(0.0deg);
}
#s-554bd711-4586-4865-a703-f819de43e5b1 #s-Rectangle_15 {
  -pie-background: linear-gradient(to right,#46383A,#9D8588);
  -pie-poll: false;
  -ms-transform: rotate(0.0deg);
}
#s-554bd711-4586-4865-a703-f819de43e5b1 #s-Rectangle_14 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #4A86E8;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #4A86E8;
  -ms-transform: rotate(0.0deg);
}
#s-554bd711-4586-4865-a703-f819de43e5b1 #s-Rectangle_16 {
  -pie-background: linear-gradient(to right,#CDA882,#D4B595);
  -pie-poll: false;
  -ms-transform: rotate(0.0deg);
}
#s-554bd711-4586-4865-a703-f819de43e5b1 #s-Rectangle_17 {
  -pie-background: linear-gradient(to bottom,#D4B595,#DCC1A7);
  -pie-poll: false;
  -ms-transform: rotate(0.0deg);
}
#s-554bd711-4586-4865-a703-f819de43e5b1 #s-Rectangle_18 {
  -pie-background: linear-gradient(to bottom,#DCC1A7,#E3CEB9);
  -pie-poll: false;
  -ms-transform: rotate(0.0deg);
}
#s-554bd711-4586-4865-a703-f819de43e5b1 #s-Rectangle_19 {
  -pie-background: linear-gradient(to right,#E3CEB9,#EADBCB);
  -pie-poll: false;
  -ms-transform: rotate(0.0deg);
}
#s-554bd711-4586-4865-a703-f819de43e5b1 #s-Rectangle_20 {
  -pie-background: linear-gradient(to right,#EADBCB,#B58149);
  -pie-poll: false;
  -ms-transform: rotate(0.0deg);
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-554bd711-4586-4865-a703-f819de43e5b1 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}