#s-5a7e5995-d3d6-44a7-b849-9cc148aa8b60 #s-share {
  -ms-transform: rotate(0.0deg);
}
#s-5a7e5995-d3d6-44a7-b849-9cc148aa8b60 #s-edit {
  -ms-transform: rotate(0.0deg);
}
#s-5a7e5995-d3d6-44a7-b849-9cc148aa8b60 #s-Image_3 {
  -ms-transform: rotate(0.0deg);
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-5a7e5995-d3d6-44a7-b849-9cc148aa8b60 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}