#s-90f03475-8a07-4824-b9c3-d800d7a2124b #s-Image_4 {
  -ms-transform: rotate(0.0deg);
}
#s-90f03475-8a07-4824-b9c3-d800d7a2124b #s-tag {
  -ms-transform: rotate(0.0deg);
}
#s-90f03475-8a07-4824-b9c3-d800d7a2124b #s-sticker {
  -ms-transform: rotate(0.0deg);
}
#s-90f03475-8a07-4824-b9c3-d800d7a2124b #s-filter {
  -ms-transform: rotate(0.0deg);
}
#s-90f03475-8a07-4824-b9c3-d800d7a2124b #s-edit {
  -ms-transform: rotate(0.0deg);
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-90f03475-8a07-4824-b9c3-d800d7a2124b > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}