#s-ace48f72-5d1f-42e9-a5f8-653f6fd9680d #s-FileUpload_Holder {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ace48f72-5d1f-42e9-a5f8-653f6fd9680d #s-Ellipse_1 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ace48f72-5d1f-42e9-a5f8-653f6fd9680d #s-Ellipse_2 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ace48f72-5d1f-42e9-a5f8-653f6fd9680d #s-Image_18 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-ace48f72-5d1f-42e9-a5f8-653f6fd9680d > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}