#s-e5234c67-3c1d-4fde-8b5b-31ec36f597c3 #s-Image_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e5234c67-3c1d-4fde-8b5b-31ec36f597c3 #s-share {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e5234c67-3c1d-4fde-8b5b-31ec36f597c3 #s-edit {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e5234c67-3c1d-4fde-8b5b-31ec36f597c3 #s-Rectangle {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e5234c67-3c1d-4fde-8b5b-31ec36f597c3 #s-Image_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e5234c67-3c1d-4fde-8b5b-31ec36f597c3 #s-Text_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e5234c67-3c1d-4fde-8b5b-31ec36f597c3 #s-Rectangle_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e5234c67-3c1d-4fde-8b5b-31ec36f597c3 #s-Image_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e5234c67-3c1d-4fde-8b5b-31ec36f597c3 #s-Text_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e5234c67-3c1d-4fde-8b5b-31ec36f597c3 #s-Rectangle_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e5234c67-3c1d-4fde-8b5b-31ec36f597c3 #s-Image_125 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e5234c67-3c1d-4fde-8b5b-31ec36f597c3 #s-Text_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e5234c67-3c1d-4fde-8b5b-31ec36f597c3 #s-Rectangle_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e5234c67-3c1d-4fde-8b5b-31ec36f597c3 #s-Image_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e5234c67-3c1d-4fde-8b5b-31ec36f597c3 #s-Text_9 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-e5234c67-3c1d-4fde-8b5b-31ec36f597c3 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}