#t-1c12654e-c436-4689-8da3-31be514e8f4e #t-basic-screen {
  border-collapse: separate;
}
#t-1c12654e-c436-4689-8da3-31be514e8f4e #t-Cell_top > .valign {
  vertical-align: top;
}
#t-1c12654e-c436-4689-8da3-31be514e8f4e #t-Rectangle_35 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=15);
  filter: alpha(opacity=15);
  -ms-transform: rotate(0.0deg);
}
#t-1c12654e-c436-4689-8da3-31be514e8f4e #t-Panel_23 > .valign {
  vertical-align: middle;
}
#t-1c12654e-c436-4689-8da3-31be514e8f4e #t-Image_25 {
  -ms-transform: rotate(0.0deg);
}
#t-1c12654e-c436-4689-8da3-31be514e8f4e #t-Label_71 {
  -ms-transform: rotate(0.0deg);
}
#t-1c12654e-c436-4689-8da3-31be514e8f4e #t-base_2 {
  -ms-transform: rotate(0.0deg);
}
#t-1c12654e-c436-4689-8da3-31be514e8f4e #t-Text_2 {
  -ms-transform: rotate(0.0deg);
}
#t-1c12654e-c436-4689-8da3-31be514e8f4e #t-search_3 {
  -ms-transform: rotate(0.0deg);
}
#t-1c12654e-c436-4689-8da3-31be514e8f4e #t-view-list_2 {
  -ms-transform: rotate(0.0deg);
}
#t-1c12654e-c436-4689-8da3-31be514e8f4e #t-Image_1 {
  -ms-transform: rotate(0.0deg);
}
#t-1c12654e-c436-4689-8da3-31be514e8f4e #t-Rectangle_1 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
  filter: alpha(opacity=50);
  -ms-transform: rotate(0.0deg);
}
#t-1c12654e-c436-4689-8da3-31be514e8f4e #t-Text_1 {
  -ms-transform: rotate(0.0deg);
}
#t-1c12654e-c436-4689-8da3-31be514e8f4e #t-Image_2 {
  -ms-transform: rotate(0.0deg);
}
#t-1c12654e-c436-4689-8da3-31be514e8f4e #t-Image_3 {
  -ms-transform: rotate(0.0deg);
}
#t-1c12654e-c436-4689-8da3-31be514e8f4e #t-Rectangle_2 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
  filter: alpha(opacity=50);
  -ms-transform: rotate(0.0deg);
}
#t-1c12654e-c436-4689-8da3-31be514e8f4e #t-Text_3 {
  -ms-transform: rotate(0.0deg);
}
#t-1c12654e-c436-4689-8da3-31be514e8f4e #t-Image_4 {
  -ms-transform: rotate(0.0deg);
}
#t-1c12654e-c436-4689-8da3-31be514e8f4e #t-Image_5 {
  -ms-transform: rotate(0.0deg);
}
#t-1c12654e-c436-4689-8da3-31be514e8f4e #t-Rectangle_3 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
  filter: alpha(opacity=50);
  -ms-transform: rotate(0.0deg);
}
#t-1c12654e-c436-4689-8da3-31be514e8f4e #t-Text_4 {
  -ms-transform: rotate(0.0deg);
}
#t-1c12654e-c436-4689-8da3-31be514e8f4e #t-Image_6 {
  -ms-transform: rotate(0.0deg);
}
#t-1c12654e-c436-4689-8da3-31be514e8f4e #t-Image_7 {
  -ms-transform: rotate(0.0deg);
}
#t-1c12654e-c436-4689-8da3-31be514e8f4e #t-Rectangle_4 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
  filter: alpha(opacity=50);
  -ms-transform: rotate(0.0deg);
}
#t-1c12654e-c436-4689-8da3-31be514e8f4e #t-Text_5 {
  -ms-transform: rotate(0.0deg);
}
#t-1c12654e-c436-4689-8da3-31be514e8f4e #t-Image_9 {
  -ms-transform: rotate(0.0deg);
}
#t-1c12654e-c436-4689-8da3-31be514e8f4e #t-Image_10 {
  -ms-transform: rotate(0.0deg);
}
#t-1c12654e-c436-4689-8da3-31be514e8f4e #t-Rectangle_5 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
  filter: alpha(opacity=50);
  -ms-transform: rotate(0.0deg);
}
#t-1c12654e-c436-4689-8da3-31be514e8f4e #t-Text_6 {
  -ms-transform: rotate(0.0deg);
}
#t-1c12654e-c436-4689-8da3-31be514e8f4e #t-Image_11 {
  -ms-transform: rotate(0.0deg);
}
#t-1c12654e-c436-4689-8da3-31be514e8f4e #t-Image_12 {
  -ms-transform: rotate(0.0deg);
}
#t-1c12654e-c436-4689-8da3-31be514e8f4e #t-Rectangle_6 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
  filter: alpha(opacity=50);
  -ms-transform: rotate(0.0deg);
}
#t-1c12654e-c436-4689-8da3-31be514e8f4e #t-Text_7 {
  -ms-transform: rotate(0.0deg);
}
#t-1c12654e-c436-4689-8da3-31be514e8f4e #t-Image_13 {
  -ms-transform: rotate(0.0deg);
}
#t-1c12654e-c436-4689-8da3-31be514e8f4e #t-Rectangle_7 {
  -ms-transform: rotate(0.0deg);
}
#t-1c12654e-c436-4689-8da3-31be514e8f4e #t-Image_14 {
  -ms-transform: rotate(0.0deg);
}
#t-1c12654e-c436-4689-8da3-31be514e8f4e #t-Rectangle_8 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
  filter: alpha(opacity=50);
  -ms-transform: rotate(0.0deg);
}
#t-1c12654e-c436-4689-8da3-31be514e8f4e #t-Text_8 {
  -ms-transform: rotate(0.0deg);
}
#t-1c12654e-c436-4689-8da3-31be514e8f4e #t-Image_15 {
  -ms-transform: rotate(0.0deg);
}
#t-1c12654e-c436-4689-8da3-31be514e8f4e #t-Image_16 {
  -ms-transform: rotate(0.0deg);
}
#t-1c12654e-c436-4689-8da3-31be514e8f4e #t-Rectangle_9 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
  filter: alpha(opacity=50);
  -ms-transform: rotate(0.0deg);
}
#t-1c12654e-c436-4689-8da3-31be514e8f4e #t-Text_9 {
  -ms-transform: rotate(0.0deg);
}
#t-1c12654e-c436-4689-8da3-31be514e8f4e #t-Image_17 {
  -ms-transform: rotate(0.0deg);
}
#t-1c12654e-c436-4689-8da3-31be514e8f4e #t-Ellipse_1 {
  -ms-transform: rotate(0.0deg);
}
#t-1c12654e-c436-4689-8da3-31be514e8f4e #t-Ellipse_2 {
  -ms-transform: rotate(0.0deg);
}
#t-1c12654e-c436-4689-8da3-31be514e8f4e #t-Image_18 {
  -ms-transform: rotate(0.0deg);
}
#t-1c12654e-c436-4689-8da3-31be514e8f4e #t-Cell_bottom > .valign {
  vertical-align: bottom;
}
#t-1c12654e-c436-4689-8da3-31be514e8f4e #t-Rectangle_19 {
  -ms-transform: rotate(0.0deg);
}
#t-1c12654e-c436-4689-8da3-31be514e8f4e #t-Image_8 {
  -ms-transform: rotate(0.0deg);
}
#t-1c12654e-c436-4689-8da3-31be514e8f4e #t-Image_24 {
  -ms-transform: rotate(0.0deg);
}
#t-1c12654e-c436-4689-8da3-31be514e8f4e #t-Image_29 {
  -ms-transform: rotate(0.0deg);
}
#t-1c12654e-c436-4689-8da3-31be514e8f4e > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}