#t-1c12654e-c436-4689-8da3-31be514e8f4e #t-Rectangle_35 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=15) ;
  filter: alpha(opacity=15) ;
  margin-left: 0px;
  margin-top: 0px;
}
#t-1c12654e-c436-4689-8da3-31be514e8f4e #t-Image_25 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#t-1c12654e-c436-4689-8da3-31be514e8f4e #t-Label_71 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#t-1c12654e-c436-4689-8da3-31be514e8f4e #t-base_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#t-1c12654e-c436-4689-8da3-31be514e8f4e #t-Text_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#t-1c12654e-c436-4689-8da3-31be514e8f4e #t-search_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#t-1c12654e-c436-4689-8da3-31be514e8f4e #t-view-list_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#t-1c12654e-c436-4689-8da3-31be514e8f4e #t-Image_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#t-1c12654e-c436-4689-8da3-31be514e8f4e #t-Rectangle_1 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50) ;
  filter: alpha(opacity=50) ;
  margin-left: 0px;
  margin-top: 0px;
}
#t-1c12654e-c436-4689-8da3-31be514e8f4e #t-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#t-1c12654e-c436-4689-8da3-31be514e8f4e #t-Image_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#t-1c12654e-c436-4689-8da3-31be514e8f4e #t-Image_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#t-1c12654e-c436-4689-8da3-31be514e8f4e #t-Rectangle_2 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50) ;
  filter: alpha(opacity=50) ;
  margin-left: 0px;
  margin-top: 0px;
}
#t-1c12654e-c436-4689-8da3-31be514e8f4e #t-Text_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#t-1c12654e-c436-4689-8da3-31be514e8f4e #t-Image_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#t-1c12654e-c436-4689-8da3-31be514e8f4e #t-Image_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#t-1c12654e-c436-4689-8da3-31be514e8f4e #t-Rectangle_3 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50) ;
  filter: alpha(opacity=50) ;
  margin-left: 0px;
  margin-top: 0px;
}
#t-1c12654e-c436-4689-8da3-31be514e8f4e #t-Text_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#t-1c12654e-c436-4689-8da3-31be514e8f4e #t-Image_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#t-1c12654e-c436-4689-8da3-31be514e8f4e #t-Image_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#t-1c12654e-c436-4689-8da3-31be514e8f4e #t-Rectangle_4 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50) ;
  filter: alpha(opacity=50) ;
  margin-left: 0px;
  margin-top: 0px;
}
#t-1c12654e-c436-4689-8da3-31be514e8f4e #t-Text_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#t-1c12654e-c436-4689-8da3-31be514e8f4e #t-Image_9 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#t-1c12654e-c436-4689-8da3-31be514e8f4e #t-Image_10 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#t-1c12654e-c436-4689-8da3-31be514e8f4e #t-Rectangle_5 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50) ;
  filter: alpha(opacity=50) ;
  margin-left: 0px;
  margin-top: 0px;
}
#t-1c12654e-c436-4689-8da3-31be514e8f4e #t-Text_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#t-1c12654e-c436-4689-8da3-31be514e8f4e #t-Image_11 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#t-1c12654e-c436-4689-8da3-31be514e8f4e #t-Image_12 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#t-1c12654e-c436-4689-8da3-31be514e8f4e #t-Rectangle_6 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50) ;
  filter: alpha(opacity=50) ;
  margin-left: 0px;
  margin-top: 0px;
}
#t-1c12654e-c436-4689-8da3-31be514e8f4e #t-Text_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#t-1c12654e-c436-4689-8da3-31be514e8f4e #t-Image_13 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#t-1c12654e-c436-4689-8da3-31be514e8f4e #t-Rectangle_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#t-1c12654e-c436-4689-8da3-31be514e8f4e #t-Image_14 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#t-1c12654e-c436-4689-8da3-31be514e8f4e #t-Rectangle_8 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50) ;
  filter: alpha(opacity=50) ;
  margin-left: 0px;
  margin-top: 0px;
}
#t-1c12654e-c436-4689-8da3-31be514e8f4e #t-Text_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#t-1c12654e-c436-4689-8da3-31be514e8f4e #t-Image_15 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#t-1c12654e-c436-4689-8da3-31be514e8f4e #t-Image_16 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#t-1c12654e-c436-4689-8da3-31be514e8f4e #t-Rectangle_9 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50) ;
  filter: alpha(opacity=50) ;
  margin-left: 0px;
  margin-top: 0px;
}
#t-1c12654e-c436-4689-8da3-31be514e8f4e #t-Text_9 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#t-1c12654e-c436-4689-8da3-31be514e8f4e #t-Image_17 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#t-1c12654e-c436-4689-8da3-31be514e8f4e #t-Ellipse_1 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#t-1c12654e-c436-4689-8da3-31be514e8f4e #t-Ellipse_2 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#t-1c12654e-c436-4689-8da3-31be514e8f4e #t-Image_18 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#t-1c12654e-c436-4689-8da3-31be514e8f4e #t-Rectangle_19 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#t-1c12654e-c436-4689-8da3-31be514e8f4e #t-Image_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#t-1c12654e-c436-4689-8da3-31be514e8f4e #t-Image_24 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#t-1c12654e-c436-4689-8da3-31be514e8f4e #t-Image_29 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#t-1c12654e-c436-4689-8da3-31be514e8f4e > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}