#t-d811100f-3776-4433-ad7f-0a7496afc40e #t-Rectangle_35 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=15) ;
  filter: alpha(opacity=15) ;
  margin-left: 0px;
  margin-top: 0px;
}
#t-d811100f-3776-4433-ad7f-0a7496afc40e #t-Image_25 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#t-d811100f-3776-4433-ad7f-0a7496afc40e #t-Label_71 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#t-d811100f-3776-4433-ad7f-0a7496afc40e #t-Rectangle_95 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#t-d811100f-3776-4433-ad7f-0a7496afc40e #t-Rectangle_94 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#t-d811100f-3776-4433-ad7f-0a7496afc40e #t-Ellipse_34 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#t-d811100f-3776-4433-ad7f-0a7496afc40e #t-Ellipse_35 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#t-d811100f-3776-4433-ad7f-0a7496afc40e #t-play {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#t-d811100f-3776-4433-ad7f-0a7496afc40e #t-Rectangle_19 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#t-d811100f-3776-4433-ad7f-0a7496afc40e #t-Image_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#t-d811100f-3776-4433-ad7f-0a7496afc40e #t-Image_24 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#t-d811100f-3776-4433-ad7f-0a7496afc40e #t-Image_29 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#t-d811100f-3776-4433-ad7f-0a7496afc40e > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}