#t-d811100f-3776-4433-ad7f-0a7496afc40e #t-image-edit-screen {
  border-collapse: separate;
}
#t-d811100f-3776-4433-ad7f-0a7496afc40e #t-Cell_top > .valign {
  vertical-align: top;
}
#t-d811100f-3776-4433-ad7f-0a7496afc40e #t-Rectangle_35 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=15);
  filter: alpha(opacity=15);
  -ms-transform: rotate(0.0deg);
}
#t-d811100f-3776-4433-ad7f-0a7496afc40e #t-Panel_23 > .valign {
  vertical-align: middle;
}
#t-d811100f-3776-4433-ad7f-0a7496afc40e #t-Image_25 {
  -ms-transform: rotate(0.0deg);
}
#t-d811100f-3776-4433-ad7f-0a7496afc40e #t-Label_71 {
  -ms-transform: rotate(0.0deg);
}
#t-d811100f-3776-4433-ad7f-0a7496afc40e #t-Cell_center > .valign {
  vertical-align: bottom;
}
#t-d811100f-3776-4433-ad7f-0a7496afc40e #t-Rectangle_95 {
  -ms-transform: rotate(0.0deg);
}
#t-d811100f-3776-4433-ad7f-0a7496afc40e #t-Rectangle_94 {
  -ms-transform: rotate(0.0deg);
}
#t-d811100f-3776-4433-ad7f-0a7496afc40e #t-Ellipse_34 {
  -ms-transform: rotate(0.0deg);
}
#t-d811100f-3776-4433-ad7f-0a7496afc40e #t-Ellipse_35 {
  -ms-transform: rotate(0.0deg);
}
#t-d811100f-3776-4433-ad7f-0a7496afc40e #t-play {
  -ms-transform: rotate(0.0deg);
}
#t-d811100f-3776-4433-ad7f-0a7496afc40e #t-Cell_bottom > .valign {
  vertical-align: bottom;
}
#t-d811100f-3776-4433-ad7f-0a7496afc40e #t-Rectangle_19 {
  -ms-transform: rotate(0.0deg);
}
#t-d811100f-3776-4433-ad7f-0a7496afc40e #t-Image_8 {
  -ms-transform: rotate(0.0deg);
}
#t-d811100f-3776-4433-ad7f-0a7496afc40e #t-Image_24 {
  -ms-transform: rotate(0.0deg);
}
#t-d811100f-3776-4433-ad7f-0a7496afc40e #t-Image_29 {
  -ms-transform: rotate(0.0deg);
}
#t-d811100f-3776-4433-ad7f-0a7496afc40e > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}