#t-f39803f7-df02-4169-93eb-7547fb8c961a #t-basic-screen {
  border-collapse: separate;
}
#t-f39803f7-df02-4169-93eb-7547fb8c961a #t-Cell_top > .valign {
  vertical-align: top;
}
#t-f39803f7-df02-4169-93eb-7547fb8c961a #t-Rectangle_35 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=15);
  filter: alpha(opacity=15);
  -ms-transform: rotate(0.0deg);
}
#t-f39803f7-df02-4169-93eb-7547fb8c961a #t-Panel_23 > .valign {
  vertical-align: middle;
}
#t-f39803f7-df02-4169-93eb-7547fb8c961a #t-Image_25 {
  -ms-transform: rotate(0.0deg);
}
#t-f39803f7-df02-4169-93eb-7547fb8c961a #t-Label_71 {
  -ms-transform: rotate(0.0deg);
}
#t-f39803f7-df02-4169-93eb-7547fb8c961a #t-Cell_bottom > .valign {
  vertical-align: bottom;
}
#t-f39803f7-df02-4169-93eb-7547fb8c961a #t-Rectangle_19 {
  -ms-transform: rotate(0.0deg);
}
#t-f39803f7-df02-4169-93eb-7547fb8c961a #t-Image_8 {
  -ms-transform: rotate(0.0deg);
}
#t-f39803f7-df02-4169-93eb-7547fb8c961a #t-Image_24 {
  -ms-transform: rotate(0.0deg);
}
#t-f39803f7-df02-4169-93eb-7547fb8c961a #t-Image_29 {
  -ms-transform: rotate(0.0deg);
}
#t-f39803f7-df02-4169-93eb-7547fb8c961a > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}