.sc-bb8abf58-f55e-472d-af05-a7d1bb0cc014 #n81c2a1c0-3222-45a6-8f01-7eb15ff12427 .tlDevice {
  width: 8.86911px;
  height: 29.42932px;
  left: 4.0px;
  top: 4.0px;
  background-size: 8.86911px 29.42932px;
}
.sc-bb8abf58-f55e-472d-af05-a7d1bb0cc014 #n81c2a1c0-3222-45a6-8f01-7eb15ff12427 .tcDevice {
  width: 136.26178px;
  height: 29.42932px;
  left: 12.86911px;
  top: 4.0px;
  background-size: 136.26178px 29.42932px;
}
.sc-bb8abf58-f55e-472d-af05-a7d1bb0cc014 #n81c2a1c0-3222-45a6-8f01-7eb15ff12427 .trDevice {
  width: 8.86911px;
  height: 29.42932px;
  left: 149.13089px;
  top: 4.0px;
  background-size: 8.86911px 29.42932px;
}
.sc-bb8abf58-f55e-472d-af05-a7d1bb0cc014 #n81c2a1c0-3222-45a6-8f01-7eb15ff12427 .clDevice {
  width: 8.86911px;
  height: 240.14136px;
  left: 4.0px;
  top: 33.42932px;
  background-size: 8.86911px 240.14136px;
}
.sc-bb8abf58-f55e-472d-af05-a7d1bb0cc014 #n81c2a1c0-3222-45a6-8f01-7eb15ff12427 .crDevice {
  width: 8.86911px;
  height: 240.14136px;
  left: 149.13089px;
  top: 33.42932px;
  background-size: 8.86911px 240.14136px;
}
.sc-bb8abf58-f55e-472d-af05-a7d1bb0cc014 #n81c2a1c0-3222-45a6-8f01-7eb15ff12427 .blDevice {
  width: 8.86911px;
  height: 29.42932px;
  left: 4.0px;
  top: 273.57068px;
  background-size: 8.86911px 29.42932px;
}
.sc-bb8abf58-f55e-472d-af05-a7d1bb0cc014 #n81c2a1c0-3222-45a6-8f01-7eb15ff12427 .bcDevice {
  width: 136.26178px;
  height: 29.42932px;
  left: 12.86911px;
  top: 273.57068px;
  background-size: 136.26178px 29.42932px;
}
.sc-bb8abf58-f55e-472d-af05-a7d1bb0cc014 #n81c2a1c0-3222-45a6-8f01-7eb15ff12427 .brDevice {
  width: 8.86911px;
  height: 29.42932px;
  left: 149.13089px;
  top: 273.57068px;
  background-size: 8.86911px 29.42932px;
}
.sc-bb8abf58-f55e-472d-af05-a7d1bb0cc014 #n81c2a1c0-3222-45a6-8f01-7eb15ff12427 .scenarioDevice {
  height: 299px;
  width: 154px;
}
.sc-bb8abf58-f55e-472d-af05-a7d1bb0cc014 #n81c2a1c0-3222-45a6-8f01-7eb15ff12427 .scenarioScreenThumbnail {
  height: 240.14136px;
  width: 136.26178px;
  margin: 29.42932px 8.86911px;
  background-image: url("../../resources/scenarios/screens/d12245cc-1680-458d-89dd-4f0d7fb22724.jpg");
  background-size: 136.26178px 240.14136px;
}
.sc-bb8abf58-f55e-472d-af05-a7d1bb0cc014 #n81c2a1c0-3222-45a6-8f01-7eb15ff12427 {
  left: 198px;
  top: 259px;
  width: 173px;
  height: 327px;
  color: #313334;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 400;
}
.sc-bb8abf58-f55e-472d-af05-a7d1bb0cc014 #t7322b427-046a-4d84-a8d8-2c5f48442abf .transitionName {
  color: #313334;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 400;
}
.sc-bb8abf58-f55e-472d-af05-a7d1bb0cc014 #t7322b427-046a-4d84-a8d8-2c5f48442abf .transitionNameContainer {
  left: 455.0px;
  top: 512.5585px;
}
#t7322b427-046a-4d84-a8d8-2c5f48442abf.transitionWrapper > svg > marker {
  fill: #21C0C0;
}
#t7322b427-046a-4d84-a8d8-2c5f48442abf.transitionWrapper > svg > polyline {
  stroke: #21C0C0;
}
.sc-bb8abf58-f55e-472d-af05-a7d1bb0cc014 #nac7a6d7a-83b1-45f0-9282-c27105b65995 .tlDevice {
  width: 8.86911px;
  height: 29.42932px;
  left: 4.0px;
  top: 4.0px;
  background-size: 8.86911px 29.42932px;
}
.sc-bb8abf58-f55e-472d-af05-a7d1bb0cc014 #nac7a6d7a-83b1-45f0-9282-c27105b65995 .tcDevice {
  width: 136.26178px;
  height: 29.42932px;
  left: 12.86911px;
  top: 4.0px;
  background-size: 136.26178px 29.42932px;
}
.sc-bb8abf58-f55e-472d-af05-a7d1bb0cc014 #nac7a6d7a-83b1-45f0-9282-c27105b65995 .trDevice {
  width: 8.86911px;
  height: 29.42932px;
  left: 149.13089px;
  top: 4.0px;
  background-size: 8.86911px 29.42932px;
}
.sc-bb8abf58-f55e-472d-af05-a7d1bb0cc014 #nac7a6d7a-83b1-45f0-9282-c27105b65995 .clDevice {
  width: 8.86911px;
  height: 240.14136px;
  left: 4.0px;
  top: 33.42932px;
  background-size: 8.86911px 240.14136px;
}
.sc-bb8abf58-f55e-472d-af05-a7d1bb0cc014 #nac7a6d7a-83b1-45f0-9282-c27105b65995 .crDevice {
  width: 8.86911px;
  height: 240.14136px;
  left: 149.13089px;
  top: 33.42932px;
  background-size: 8.86911px 240.14136px;
}
.sc-bb8abf58-f55e-472d-af05-a7d1bb0cc014 #nac7a6d7a-83b1-45f0-9282-c27105b65995 .blDevice {
  width: 8.86911px;
  height: 29.42932px;
  left: 4.0px;
  top: 273.57068px;
  background-size: 8.86911px 29.42932px;
}
.sc-bb8abf58-f55e-472d-af05-a7d1bb0cc014 #nac7a6d7a-83b1-45f0-9282-c27105b65995 .bcDevice {
  width: 136.26178px;
  height: 29.42932px;
  left: 12.86911px;
  top: 273.57068px;
  background-size: 136.26178px 29.42932px;
}
.sc-bb8abf58-f55e-472d-af05-a7d1bb0cc014 #nac7a6d7a-83b1-45f0-9282-c27105b65995 .brDevice {
  width: 8.86911px;
  height: 29.42932px;
  left: 149.13089px;
  top: 273.57068px;
  background-size: 8.86911px 29.42932px;
}
.sc-bb8abf58-f55e-472d-af05-a7d1bb0cc014 #nac7a6d7a-83b1-45f0-9282-c27105b65995 .scenarioDevice {
  height: 299px;
  width: 154px;
}
.sc-bb8abf58-f55e-472d-af05-a7d1bb0cc014 #nac7a6d7a-83b1-45f0-9282-c27105b65995 .scenarioScreenThumbnail {
  height: 240.14136px;
  width: 136.26178px;
  margin: 29.42932px 8.86911px;
  background-image: url("../../resources/scenarios/screens/ace48f72-5d1f-42e9-a5f8-653f6fd9680d.jpg");
  background-size: 136.26178px 240.14136px;
}
.sc-bb8abf58-f55e-472d-af05-a7d1bb0cc014 #nac7a6d7a-83b1-45f0-9282-c27105b65995 {
  left: 802px;
  top: 252px;
  width: 181px;
  height: 327px;
  color: #313334;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 400;
}
.sc-bb8abf58-f55e-472d-af05-a7d1bb0cc014 #n6e357b6e-c5ec-447c-b4fc-79bb43936c4b {
  left: 533px;
  top: 423px;
  width: 121px;
  height: 64px;
  color: #313334;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 400;
}
.sc-bb8abf58-f55e-472d-af05-a7d1bb0cc014 #t615aa250-5f6f-496a-80fd-2daa3133ed34 .transitionName {
  color: #313334;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 400;
}
.sc-bb8abf58-f55e-472d-af05-a7d1bb0cc014 #t615aa250-5f6f-496a-80fd-2daa3133ed34 .transitionNameContainer {
  left: 718.0px;
  top: 511.9874px;
}
#t615aa250-5f6f-496a-80fd-2daa3133ed34.transitionWrapper > svg > marker {
  fill: #21C0C0;
}
#t615aa250-5f6f-496a-80fd-2daa3133ed34.transitionWrapper > svg > polyline {
  stroke: #21C0C0;
}
#scenarioWrapper {
  width: 983px;
  height: 586px;
}