<html>
  <body>
    <div class="ui-page">
         <div id="t-1c12654e-c436-4689-8da3-31be514e8f4e" class="template growth-both firer commentable" name="select-image-screen-template" width="" height="">
         <div id="backgroundBox"></div>
         <div id="alignmentBox" class="left">
           <link type="text/css" rel="stylesheet" href="./resources/templates/1c12654e-c436-4689-8da3-31be514e8f4e-1489925259275.css" />
           <!--[if IE]><link type="text/css" rel="stylesheet" href="./resources/templates/1c12654e-c436-4689-8da3-31be514e8f4e-1489925259275-ie.css" /><![endif]-->
           <!--[if lte IE 8]><link type="text/css" rel="stylesheet" href="./resources/templates/1c12654e-c436-4689-8da3-31be514e8f4e-1489925259275-ie8.css" /><![endif]-->
           <table id="t-basic-screen" class="table firer ie-background commentable" summary="" >
             <tbody>
               <tr>
                 <td id="t-Cell_top" class="cellcontainer firer ie-background"   >
                   <div class="layout">
                     <table class="layout" summary="">
                       <tr>
                         <td class="layout vertical insertionpoint verticalalign Cell_top basic-screen" valign="top" align="center" hSpacing="0" vSpacing="0"><div id="t-StatusBar" class="group firer ie-background commentable">
                       <div id="t-Rectangle_35" class="rectangle firer commentable"  >
                        <div class="clipping">
                         <div class="content">
                           <div class="valign">
                             <span id="rtr-t-Rectangle_35_0"></span>
                           </div>
                         </div>
                        </div>
                       </div>
                       <div id="t-Dynamic_Panel_15" class="dynamicpanel firer commentable">
                         <div id="t-Panel_23" class="panel default firer commentable" >
                             <table class="layout" summary="">
                               <tr>
                                 <td class="layout horizontal insertionpoint verticalalign Panel_23 Dynamic_Panel_15" valign="middle" align="right" hSpacing="0" vSpacing="0">
                             <img id="t-Image_25" class="image firer ie-background commentable"    alt="image" src="./images/d8325bff-ccde-4880-b9ed-87593a262d92.png"/><div id="t-Label_71" class="label singleline firer ie-background commentable"  ><div class="content"><div class="valign"><span id="rtr-t-Label_71_0">15:45</span></div></div></div></td> 
                               </tr>
                             </table>

                         </div>
                       </div>
                     </div><div id="t-Header" class="group firer ie-background commentable">
                       <div id="t-base_2" class="pie label singleline firer commentable"  ><div class="content"><div class="valign"><span id="rtr-t-base_2_0"></span></div></div></div>
                       <div id="t-Text_2" class="label singleline firer ie-background commentable"  ><div class="content"><div class="valign"><span id="rtr-t-Text_2_0">Select an </span><span id="rtr-t-Text_2_1">image</span><span id="rtr-t-Text_2_2">...</span></div></div></div>
                       <div id="t-search_3" class="image firer ie-background commentable"    alt="image" systemName="./images/b48c1476-5c39-4243-853f-2bd5cad7bb32.svg" overlay="#FFFFFF">
                           <svg preserveAspectRatio='none' xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M15.5 14h-.79l-.28-.27C15.41 12.59 16 11.11 16 9.5 16 5.91 13.09 3 9.5 3S3 5.91 3 9.5 5.91 16 9.5 16c1.61 0 3.09-.59 4.23-1.57l.27.28v.79l5 4.99L20.49 19l-4.99-5zm-6 0C7.01 14 5 11.99 5 9.5S7.01 5 9.5 5 14 7.01 14 9.5 11.99 14 9.5 14z"/></svg>
                       </div>
                       <div id="t-view-list_2" class="image firer ie-background commentable"    alt="image" systemName="./images/163f36ee-f787-4a58-887f-8d7ce1720535.svg" overlay="#FFFFFF">
                           <svg preserveAspectRatio='none' xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                               <path d="M4 14h4v-4H4v4zm0 5h4v-4H4v4zM4 9h4V5H4v4zm5 5h12v-4H9v4zm0 5h12v-4H9v4zM9 5v4h12V5H9z"/>
                               <path d="M0 0h24v24H0z" fill="none"/>
                           </svg>

                       </div>
                     </div></td> 
                       </tr>
                     </table>

                   </div>
                 </td>
               </tr>
               <tr>
                 <td id="t-Cell_center" class="cellcontainer firer"   >
                   <div class="layout">
                     <div id="t-Dynamic_Panel_1" class="dynamicpanel firer commentable">
                       <div id="t-Panel_1" class="panel default firer commentable" >
                           <div id="t-Group_1" class="group firer ie-background commentable">
                             <img id="t-Image_1" class="image firer ie-background commentable"    alt="image" src="./images/2fb94c9e-6448-493c-bf41-ba84030d4c5a.JPG"/>
                             <div id="t-Group_2" class="group firer ie-background commentable">
                               <div id="t-Rectangle_1" class="rectangle firer commentable"  >
                                <div class="clipping">
                                 <div class="content">
                                   <div class="valign">
                                     <span id="rtr-t-Rectangle_1_0"></span>
                                   </div>
                                 </div>
                                </div>
                               </div>
                               <div id="t-Text_1" class="label singleline firer ie-background commentable"  ><div class="content"><div class="valign"><span id="rtr-t-Text_1_0">DSC01291.jpg</span></div></div></div>
                               <div id="t-Image_2" class="image firer ie-background commentable"    alt="image" systemName="./images/c0be4659-17a3-47be-8b18-566d3a43dfc6.svg" overlay="#999999">
                                   <svg preserveAspectRatio='none' xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M12 2C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm1 15h-2v-6h2v6zm0-8h-2V7h2v2z"/></svg>
                               </div>
                             </div>
                           </div>
                           <div id="t-Group_3" class="group firer ie-background commentable">
                             <img id="t-Image_3" class="image firer ie-background commentable"    alt="image" src="./images/69f2116f-7c3b-4b15-8db6-fade6b05090a.JPG"/>
                             <div id="t-Group_4" class="group firer ie-background commentable">
                               <div id="t-Rectangle_2" class="rectangle firer commentable"  >
                                <div class="clipping">
                                 <div class="content">
                                   <div class="valign">
                                     <span id="rtr-t-Rectangle_2_0"></span>
                                   </div>
                                 </div>
                                </div>
                               </div>
                               <div id="t-Text_3" class="label singleline firer ie-background commentable"  ><div class="content"><div class="valign"><span id="rtr-t-Text_3_0">DSC01396.jpg</span></div></div></div>
                               <div id="t-Image_4" class="image firer ie-background commentable"    alt="image" systemName="./images/6a89309a-bcc8-4eab-aff8-6ad1bda280e0.svg" overlay="#999999">
                                   <svg preserveAspectRatio='none' xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M12 2C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm1 15h-2v-6h2v6zm0-8h-2V7h2v2z"/></svg>
                               </div>
                             </div>
                           </div>
                           <div id="t-Group_5" class="group firer ie-background commentable">
                             <img id="t-Image_5" class="image firer click ie-background commentable"    alt="image" src="./images/fcd81314-684a-495b-b89c-c5879aa4f025.JPG"/>
                             <div id="t-Group_6" class="group firer ie-background commentable">
                               <div id="t-Rectangle_3" class="rectangle firer commentable"  >
                                <div class="clipping">
                                 <div class="content">
                                   <div class="valign">
                                     <span id="rtr-t-Rectangle_3_0"></span>
                                   </div>
                                 </div>
                                </div>
                               </div>
                               <div id="t-Text_4" class="label singleline firer ie-background commentable"  ><div class="content"><div class="valign"><span id="rtr-t-Text_4_0">DSC01421.jpg</span></div></div></div>
                               <div id="t-Image_6" class="image firer ie-background commentable"    alt="image" systemName="./images/c647c15f-cd8c-46b0-af27-b55e7405876a.svg" overlay="#999999">
                                   <svg preserveAspectRatio='none' xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M12 2C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm1 15h-2v-6h2v6zm0-8h-2V7h2v2z"/></svg>
                               </div>
                             </div>
                           </div>
                           <div id="t-Group_7" class="group firer ie-background commentable">
                             <img id="t-Image_7" class="image firer ie-background commentable"    alt="image" src="./images/cf9be578-15d9-4d9e-9fac-ee2ef2f379e8.JPG"/>
                             <div id="t-Group_8" class="group firer ie-background commentable">
                               <div id="t-Rectangle_4" class="rectangle firer commentable"  >
                                <div class="clipping">
                                 <div class="content">
                                   <div class="valign">
                                     <span id="rtr-t-Rectangle_4_0"></span>
                                   </div>
                                 </div>
                                </div>
                               </div>
                               <div id="t-Text_5" class="label singleline firer ie-background commentable"  ><div class="content"><div class="valign"><span id="rtr-t-Text_5_0">DSC01472.jpg</span></div></div></div>
                               <div id="t-Image_9" class="image firer ie-background commentable"    alt="image" systemName="./images/b01fdefb-cc5f-46e5-ae44-e9ebebf862b3.svg" overlay="#999999">
                                   <svg preserveAspectRatio='none' xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M12 2C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm1 15h-2v-6h2v6zm0-8h-2V7h2v2z"/></svg>
                               </div>
                             </div>
                           </div>
                           <div id="t-Group_9" class="group firer ie-background commentable">
                             <img id="t-Image_10" class="image firer ie-background commentable"    alt="image" src="./images/99d96a7b-2d63-450d-b1b2-40743bcdc99c.JPG"/>
                             <div id="t-Group_10" class="group firer ie-background commentable">
                               <div id="t-Rectangle_5" class="rectangle firer commentable"  >
                                <div class="clipping">
                                 <div class="content">
                                   <div class="valign">
                                     <span id="rtr-t-Rectangle_5_0"></span>
                                   </div>
                                 </div>
                                </div>
                               </div>
                               <div id="t-Text_6" class="label singleline firer ie-background commentable"  ><div class="content"><div class="valign"><span id="rtr-t-Text_6_0">DSC01517.jpg</span></div></div></div>
                               <div id="t-Image_11" class="image firer ie-background commentable"    alt="image" systemName="./images/7b2c4b69-8666-459a-97b6-65fdceb0e067.svg" overlay="#999999">
                                   <svg preserveAspectRatio='none' xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M12 2C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm1 15h-2v-6h2v6zm0-8h-2V7h2v2z"/></svg>
                               </div>
                             </div>
                           </div>
                           <div id="t-Group_11" class="group firer ie-background commentable">
                             <img id="t-Image_12" class="image firer click ie-background commentable"    alt="image" src="./images/83d33f2f-db35-4dab-bc69-da162b236a2d.JPG"/>
                             <div id="t-Group_12" class="group firer ie-background commentable">
                               <div id="t-Rectangle_6" class="rectangle firer commentable"  >
                                <div class="clipping">
                                 <div class="content">
                                   <div class="valign">
                                     <span id="rtr-t-Rectangle_6_0"></span>
                                   </div>
                                 </div>
                                </div>
                               </div>
                               <div id="t-Text_7" class="label singleline firer ie-background commentable"  ><div class="content"><div class="valign"><span id="rtr-t-Text_7_0">DSC01533.jpg</span></div></div></div>
                               <div id="t-Image_13" class="image firer ie-background commentable"    alt="image" systemName="./images/37a0628a-5d91-4000-bc25-154a99b0b210.svg" overlay="#999999">
                                   <svg preserveAspectRatio='none' xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M12 2C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm1 15h-2v-6h2v6zm0-8h-2V7h2v2z"/></svg>
                               </div>
                             </div>
                           </div>
                           <div id="t-Rectangle_7" class="rectangle firer ie-background commentable"  >
                            <div class="clipping">
                             <div class="content">
                               <div class="valign">
                                 <span id="rtr-t-Rectangle_7_0"></span>
                               </div>
                             </div>
                            </div>
                           </div>
                           <div id="t-Group_13" class="group firer ie-background commentable">
                             <img id="t-Image_14" class="image firer ie-background commentable"    alt="image" src="./images/1df4eb19-e79f-44eb-b67b-ef7362506605.png"/>
                             <div id="t-Group_14" class="group firer ie-background commentable">
                               <div id="t-Rectangle_8" class="rectangle firer commentable"  >
                                <div class="clipping">
                                 <div class="content">
                                   <div class="valign">
                                     <span id="rtr-t-Rectangle_8_0"></span>
                                   </div>
                                 </div>
                                </div>
                               </div>
                               <div id="t-Text_8" class="label singleline firer ie-background commentable"  ><div class="content"><div class="valign"><span id="rtr-t-Text_8_0"> </span></div></div></div>
                               <div id="t-Image_15" class="image firer ie-background commentable"    alt="image" systemName="./images/871863c0-b444-43e8-b49a-aa1a8cb2bb69.svg" overlay="#999999">
                                   <svg preserveAspectRatio='none' xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M12 2C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm1 15h-2v-6h2v6zm0-8h-2V7h2v2z"/></svg>
                               </div>
                             </div>
                           </div>
                           <div id="t-Group_15" class="group firer ie-background commentable">
                             <img id="t-Image_16" class="image firer ie-background commentable"    alt="image" src="./images/606221d4-d6c4-4048-9e97-b2e22760b388.png"/>
                             <div id="t-Group_16" class="group firer ie-background commentable">
                               <div id="t-Rectangle_9" class="rectangle firer commentable"  >
                                <div class="clipping">
                                 <div class="content">
                                   <div class="valign">
                                     <span id="rtr-t-Rectangle_9_0"></span>
                                   </div>
                                 </div>
                                </div>
                               </div>
                               <div id="t-Text_9" class="label singleline firer ie-background commentable"  ><div class="content"><div class="valign"><span id="rtr-t-Text_9_0">img_12345.jpg</span></div></div></div>
                               <div id="t-Image_17" class="image firer ie-background commentable"    alt="image" systemName="./images/b424ac2c-08ad-4681-8813-ccbb9a9e07ed.svg" overlay="#999999">
                                   <svg preserveAspectRatio='none' xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M12 2C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm1 15h-2v-6h2v6zm0-8h-2V7h2v2z"/></svg>
                               </div>
                             </div>
                           </div>

                       </div>
                     </div>
                     <div id="t-Group_17" class="group firer ie-background commentable">
                       <div id="t-Ellipse_1" class="ellipse shape non-processed-shape firer commentable"  title="Add new image">
                         <div class="shapert-clipping">
                             <div class="content">
                               <div class="valign">
                                  <span id="rtr-t-Ellipse_1_0"></span>
                               </div>
                             </div>
                         </div>
                       </div>
                       <div id="t-Ellipse_2" class="ellipse shape non-processed-shape firer commentable"  >
                         <div class="shapert-clipping">
                             <div class="content">
                               <div class="valign">
                                  <span id="rtr-t-Ellipse_2_0"></span>
                               </div>
                             </div>
                         </div>
                       </div>
                       <div id="t-Image_18" class="image firer click ie-background commentable"    alt="image" systemName="./images/e4504446-8a05-426b-9a27-2f748f43a04c.svg" overlay="#FFFFFF">
                           <?xml version="1.0" encoding="utf-8"?>
                           <!-- Generator: Adobe Illustrator 21.0.0, SVG Export Plug-In . SVG Version: 6.00 Build 0)  -->
                           <svg preserveAspectRatio='none' version="1.1" id="t-Image_18-Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                           	 viewBox="0 0 38.3 36.4" style="enable-background:new 0 0 38.3 36.4;" xml:space="preserve">
                           <style type="text/css">
                           	#t-Image_18 .st0{fill:#FFFFFF;fill-opacity:0.9;}
                           </style>
                           <polygon class="st0" points="20.6,16.8 20.5,8.7 17.8,8.7 17.8,16.9 9.7,16.9 9.7,19.6 17.9,19.6 17.9,27.7 20.6,27.7 20.6,19.6 
                           	28.7,19.5 28.7,16.8 "/>
                           </svg>

                       </div>
                     </div>

                   </div>
                 </td>
               </tr>
               <tr>
                 <td id="t-Cell_bottom" class="cellcontainer firer"   >
                   <div class="layout">
                     <table class="layout" summary="">
                       <tr>
                         <td class="layout vertical insertionpoint verticalalign Cell_bottom basic-screen" valign="bottom" align="center" hSpacing="0" vSpacing="0"><div id="t-Horizontal-softkeys" class="group firer ie-background commentable">
                       <div id="t-Rectangle_19" class="rectangle firer commentable"  >
                        <div class="clipping">
                         <div class="content">
                           <div class="valign">
                             <span id="rtr-t-Rectangle_19_0"></span>
                           </div>
                         </div>
                        </div>
                       </div>

                       <img id="t-Image_8" class="image firer ie-background commentable"    alt="image" src="./images/b8617da6-0fd6-46a5-b1e9-e6d258f3ad92.png"/>

                       <img id="t-Image_24" class="image firer ie-background commentable"    alt="image" src="./images/41e388df-cc25-4dd0-9015-7a846088ef50.png"/>

                       <img id="t-Image_29" class="image firer click ie-background commentable"    alt="image" src="./images/d55b1263-e80f-4329-9894-cfce4ea81380.png"/>
                     </div></td> 
                       </tr>
                     </table>

                   </div>
                 </td>
               </tr>
             </tbody>
           </table>

           </div>
           <div id="loadMark"></div>
         </div>  
    </div>
  </body>
</html>